/* Large and X-Large default CSS */
/* Nav Bar Changes to match reference images from gitlab */


.navbar {
    margin: 0px;
    padding-top: 0px!important; 
    padding-bottom: 0px!important; 
}
.navbar-expand-md {
    background-color: #fff;
}

a.navbar-brand {
    background-color: #20b2aa;
    color: #fff!important;
    padding: .75rem;
    max-height: 100%!important;
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
}

.container-fluid  {
    padding-right: 0rem!important; 
    padding-left: 0rem!important; 
}
/* End Navbar CSS Settings */

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-color: #f8f9fa;
}

main {
    max-width: 90%;
    margin: 0 auto;
    padding-top: .75rem;
}

div.vis-main-summary {
    width: 73%;
    float: left;
    margin-right: .75rem;
}

div.vis-side-navigation {
    width: 25%;
    float: right;
}

.my-container {
    background-color: #fff;
}

h1, h2 {
    color: #20b2aa;
    font-family: 'Roboto Slab', serif;
}
/* medium screen queries */
@media (max-width: 768px) {
    /* div#navbarNavDropdown {
        background-color: #f8f9fa!important;
        margin-top: 5px;
        width: 100%;
    } */
    button.navbar-toggler {
        margin-right: .75rem;
    }
    .navbar-expand-md {
        background-color: #20b2aa;
    }
    
    #navbarNavDropdown {
        background-color: #fff;
    }

    .navbar-nav .nav-link {
        /* padding-right: 0; */
        padding-left: .75rem;
    }

    .dropdown-menu {
        color: lightslategray;
    }

    div.vis-main-summary {
    width: 100%;
    float: none;
    }

    div.vis-side-navigation {
    width: 100%;
    float: none;
    }

    main {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 0rem;
    }
}
  